<div class="row">
    <div class="col-lg-6">
        <h3 class="text-muted"><a href="#">Blank Wall</a></h3>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search artist, galaries, art shows...">
        </div>   
    </div>
</div>

<nav>
    <ul class="nav nav-justified">
        <div class="collapse navbar-collapse">
            
        </div>
        <li class="dropdown" id="menu" appDropdown><a href="#" class="dropdown-toggle" role="button">Menu</a>
        <ul class="dropdown-menu">
            <li><a href="#">Paintings</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Drawings</a></li>
            <li><a href="#">Sculpture</a></li>
            <li><a href="#">Prints</a></li>
            <li><a href="#">Art Advisory</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </li>
    </ul>
</nav>


<!--  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>