<div class="row">
    <div class="col-lg-6">
        <h3 class="text-muted"><a href="#">Blank Wall</a></h3>
    </div>
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search artist, galaries, art shows...">
        </div>   
    </div>
</div>

<nav>
    <ul class="nav nav-justified">
        <li class="visible-xs" id="menu"><a href="#">Menu</a></li>
        <li class="toggle hidden-xs"><a href="#">Paintings</a></li>
        <li class="toggle hidden-xs"><a href="#">Photography</a></li>
        <li class="toggle hidden-xs"><a href="#">Drawings</a></li>
        <li class="toggle hidden-xs"><a href="#">Sculpture</a></li>
        <li class="toggle hidden-xs"><a href="#">Prints</a></li>
        <li class="toggle hidden-xs"><a href="#">Art Advisory</a></li>
        <li class="toggle hidden-xs"><a href="#">Contact</a></li>
    </ul>
</nav>