<div class="col-lg-4 col-sm-4">
    <div class="thumbnail">
        <img src="img/featured_artist.jpg" alt="">
        <div class="caption">
            <h2>Artist of the Month</h2>
        </div>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <a class="btn btn-primary" href="#" role="button">View Artist</a>
    </div>
</div>